

@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i,700,700i');

html {font-size: 1em;}

body {
  font-family: 'Arial black', serif;
  font-weight: 400;
  line-height: 1.5;
    
        
  color: #333;
  
}

.container {
    width:80%;
    margin: 0 auto;
}

body {background-color: blanchedalmond;}





.skill {
    
    display: grid;
    grid-template-columns: 1fr 1fr fr;
    grid-gap: 4px;
        margin: 3%;
    padding: 1%;
        border: solid;
    width: 91%;
    
}


.intro {
    text-align: center
}


.site-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: sandybrown;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
}


li a:hover {
  background-color:white;
}

 
}

p, li {
  margin-top: 0;
  margin-bottom: 1em;
}

body {
  margin: 20px;
}


h1 {
    text-align:center;
  font-family:Arial black, san-serif;
    font-weight: 700;
    font-size: 5.063em;
  line-height: 1;
  margin: 0 0 0.5em 0;
    color: forestgreen;
    text-align: center;
}

h2 {
    text-align:center;
  font-weight: 700;
  font-family: Lato, sans-serif;
    font-weight: 700;
  font-family: Lato, sans-serif;
    font-size: 4.25em;
  line-height: 1.2;
  margin: 1.5em 0 0.5em 0;
    
    color: sandybrown;
    margin-left: 1em;
}

h3 {
  text-align:center;
    font-weight: 700;
  font-family: Lato, sans-serif;
    font-size:2.25em;
  line-height: 1;
  margin: 1.5em 0 0.25em 0;
    color: green;
}

h4 {
    text-align:center;
    color:black;
    font-size: 1.5em;
}


h5 {
   text-align:center; 
    color: black;
    font-size: 1.5em;
}


.image{
    width: 91%;
    height: 300px;
    margin: 5% 0;
}

.image img{
   
    width: 100%;
    height: 100%;
}









