
@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');


/*
==================================
Base Typography
=================================
*/
html {font-size: 1em;}

body {
  font-family: 'Arial black', serif;
  font-weight: 400;
  line-height: 1.5;

    background-color: ;
  color: #333;
    margin: 20px;
  
}
p, li {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
    text-align:center;
  font-family:Arial black, san-serif;
    font-weight: 700;
    font-size: 5.063em;
  line-height: 1;
  margin: 0 0 0.5em 0;
  padding-top:50px;
    color: forestgreen;
    text-align: center;
  font-size: 8.2em;
    font-family: 'Indie Flower', cursive;
    font-weight:800;
    color:Brown;
}

h2 {
    text-align:left;
  font-weight: 700;
  font-family: Lato, sans-serif;
    font-weight: 700;
  font-family: Lato, sans-serif;
    font-size: 4.25em;
  line-height: 1;
  margin: 1.5em 0 0.5em 0;

    color: sandybrown;
    margin-left: 1em;
}

h7 {
    text-align:center;
    font-weight: 700;
  font-family: Lato, sans-serif;
    font-size:2.25em;
  line-height: 1;
    color: green;
    
    
}


h3 {
    font-weight: 700;
  font-family: Lato, sans-serif;
    font-size:2.25em;
  line-height: 1;
    color: green;
}

h4 {
    text-align:center;
    color:black;
    font-size: 1.2em;
    
}


h5 {
   text-align:center;
    color: black;
    font-size: 1.5em;
}

.video2{
    
    text-align: center;
    color: sandybrown;
    font-size: 2em;
}


/*
==================================
Start Navigation
=================================
*/

.site-nav ul {
  list-style-type: none;
  margin-left: 175px;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  background-color: sandybrown;
}
.site-nav li {
  float: left;
}

.site-nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
}


.site-nav li a:hover {
  background-color:white;
}

/*END NAVIGATION ===========*/

.attractor{

    text-align: center;
    font-size: 4.2em;
    font-family: 'Indie Flower', cursive;
    font-weight:800;
    color:sandybrown
}



/*
==================================
Site layout
=================================
*/




.container {
/*    width:80%;*/
    margin: 0 auto;
}

.studyskills {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 2rem;
	 
}

.skill3 {

    display: grid;
    text-align: center;
    grid-gap: 2px;
        margin: 11%;

/*        border: solid;*/
   width: 75%;
  background-color: #FFEFE6;
	padding: 12px;
    }
   


.skills2{
    padding-bottom: px;
}


.intro {
    text-align: center
    line-height: 2px;  
    text-align:center;
    padding-top:15px;
}

.introset {
    
    padding-top:25px;
}


/*
==================================
Home Page styling
=================================
*/

img {
  max-width: 100%;
  height: auto;
    border-radius: 50%
}

/*END home page ===========*/

.videos{
    
    text-align: center;
     
}




/*
==================================
Skill pages styling
=================================
*/


    

/*END Skill pages ===========*/





/*
==================================
about page styling
=================================
*/



/*END about page===========*/



 ===========*/



.footer{
   font-size: 1.2em;   
     
}
